<html>
<head>
  <title>Universities List</title>


<style>

	body {
	    font-family: arial;
	    font-color: black
		
		 }
	button {
	       
			font-family: cursive;
			font-size: 100%;
			
			}
			
table#univs tr:nth-child(odd) {
    background-color: #eee;
    border: 1px solid black;
    
}
table#univs tr:nth-child(even) {
   background-color:#fff;
   border: 1px solid black;
}
table#univs th	{
    background-color: black;
    color: white;
    border: 1px solid black;
}
		
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>

$(document).ready(function(){
var count = 1;
$("#univs").hide();

$("button").click(function(){
 $("#univs").show();
setInterval(function(){
			

	        $.get("maincontroller/output/"+ count.toString(), function(data)
				 
		   {
		
		
	            console.log(data);
	 
            
				for (var i = 0; i < data.length; i++)
	             {     
				      
                      var row = $("<tr/>");
				      $("#tbody1").append(row).delay(500).fadeIn("slow");
					  row.append($("<td>" + data[i].unitid + "</td>"));
					  row.append($("<td>" + data[i].opeid + "</td>"));
					  row.append($("<td>" + data[i].opeid6 + "</td>"));
					  row.append($("<td>" + data[i].instnm + "</td>"));
					  row.append($("<td>" + data[i].city + "</td>"));	
					  row.append($("<td>" + data[i].stabbr + "</td>"));
					  row.fadeIn();
					  if(count%21 == 0)
					 {
						 $('#univs tbody').html("");
		 				//count = count + 1;
		 
		 			}
                      count = count + 1;		  
                            
				}
			
			});	
				 
		}, 500);
		
		});
		});
                         
                      

</script>
</head>

<body>
<h2> UNIVERSITIES LIST </h2>
<button> CLICK ME  </button>
<br/>
<br/>


<table id="univs" align="center" cellpadding="30">
    <thead>
        <tr>
            <th>UNIT ID</th><th>OPE ID</th><th>OPE ID6</th><th>INST NAME</th><th>CITY</th><th>STABBR</th>
        </tr>
    </thead>
    <tbody id = "tbody1">
    </tbody>
</table>




</body>
</html>

			 
